# Node modules
node_modules/

# Environment files (IMPORTANT)
.env
backend/.env
frontend/.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# VS Code
.vscode/